{
  "presets": [
    ["es2015", {"loose": true}],
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties"
  ],
  "env": {
    "production": {
      "plugins": [
        ["transform-react-remove-prop-types", { removeImport: true }]
      ]
    }
  }
}
