.app {
  padding: 20px;
  min-height: 5000px;
}

.section {
  padding-top: 30px;
}

.subCollapse {
  padding: 20px;
}

.text {
  margin: 0;
}

.text p {
  margin: 0;
  padding: 10px;
}

.config {
  padding-bottom: 20px;
}

.label {
  padding-right: 20px;
}

.input {
  margin-right: 10px;
  margin-left: 10px;
  vertical-align: middle;
}

.blob {
  border-radius: 50vh;
  background: rgba(96, 125, 139, 0.6);
}

.collapse {
  max-width: 800px;
  border: 1px solid rgba(3, 169, 244, 0.3);
  border-radius: 10px;
  background-color: rgba(100, 255, 100, 0.1);
}

.content {
}

