.ba {
  border-width: 1px;
  border-style: solid;
}

.mb3 {
  margin-bottom: 1rem;
}

.pa3 {
  padding: 1rem;
}

.bgBlack {
  background-color: #000;
}

.w3 {
  width: 4rem;
}

.h3 {
  height: 4rem;
}
